<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card shadow-lg p-4 w-100" style="max-width: 700px; background-color: #ffffff;">
    <div class="card-body p-5">
  <h2 class="text-center mb-4 text-primary">Créer un utilisateur</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
    <div class="mb-3 col-md-6">
      <label for="nom" class="form-label fw-semibold">
        <i class="bi bi-person-fill me-1"></i>
        Nom
      </label>
      <input type="text" id="nom" formControlName="nom" class="form-control  rounded-pill px-3"
            [ngClass]="{'is-invalid': submitted && f['nom'].errors}"
            placeholder="Entrez le nom" />

            <div *ngIf="submitted && f['nom'].errors" class="invalid-feedback">
        Le nom  est requis.
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <label for="prenoms" class="form-label fw-semibold">
        <i class="bi bi-person-fill me-1"></i>
        Prénoms
      </label>
      <input type="text" id="prenoms" formControlName="prenoms" class="form-control  rounded-pill px-3"
            [ngClass]="{'is-invalid': submitted && f['prenoms'].errors}"
            placeholder="Entrez le(s) prenom(s)" />

            <div *ngIf="submitted && f['prenoms'].errors" class="invalid-feedback">
        Le(s) prenom(s)  est(sont) requis.
      </div>
    </div>
    </div>
    <div class="row">
    <div class="mb-3 col-md-6">
      <label for="username" class="form-label fw-semibold">
        <i class="bi bi-person-fill me-1"></i>
        Nom d'utilisateur
      </label>
      <input type="text" id="username" formControlName="username" class="form-control  rounded-pill px-3"
            [ngClass]="{'is-invalid': submitted && f['username'].errors}"
            placeholder="Entrez un nom d'utilisateur" />

            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        Le nom d'utilisateur est requis.
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <label for="telephone" class="form-label fw-semibold">
        <i class="bi bi-person-fill me-1"></i>
        Téléphone
      </label>
      <input type="text" id="telephone" formControlName="telephone" class="form-control  rounded-pill px-3"
            [ngClass]="{'is-invalid': submitted && f['telephone'].errors}"
            placeholder="Entrez le telephone" />

            <div *ngIf="submitted && f['telephone'].errors" class="invalid-feedback">
        Le téléphone  est requis.
      </div>
    </div>
    </div>
    <div class="row">
    <div class="mb-3 col-md-6">
      <label for="email" class="form-label fw-semibold">
        <i class="bi bi-envelope-fill me-1"></i>
        Email
      </label>
      <input type="email" id="email" formControlName="email" class="form-control rounded-pill px-3"
            [ngClass]="{'is-invalid': submitted && f['email'].errors}" placeholder="exemple@domaine.com"/>
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        Entrez une adresse email valide.
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <label for="role" class="form-label fw-semibold">
        <i class="bi bi-person-badge-fill me-1"></i>Rôle</label>
      <select id="role" formControlName="role" class="form-select rounded-pill px-3"
              [ngClass]="{'is-invalid': submitted && f['role'].errors}">
        <option value="">-- Sélectionnez un rôle --</option>
        <option value="admin">Administrateur</option>
        <option value="user">Utilisateur</option>
      </select>
      <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
        Le rôle est requis.
      </div>
    </div>
    </div>
    <div class="mb-3 col-md-6 position-relative">
      <label for="password" class="form-label fw-semibold">
        <i class="bi bi-lock-fill me-1"></i>
        Mot de passe
      </label>
      <div class="d-flex align-items-center">
        <input [type]="hide ? 'password' : 'text'" id="password" formControlName="password" class="form-control px-3"
        [ngClass]="{'is-invalid': submitted && f['password'].errors}"
        placeholder="Mot de passe (min. 8 caractères)"/>
        <button type="button" class="btn btn-outline-secondary btn-sm rounded-end-pill ms-1 px-2 py-1"
        (click)="toggleVisibility()" [attr.aria-label]="'Afficher ou masquer le mot de passe'">
        <i class="bi fs-6" [ngClass]="hide ? 'bi-eye-slash-fill' : 'bi-eye-fill'" ></i>
        </button>
      </div>
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback d-block mt-1">
    Le mot de passe doit contenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.
  </div>
    </div>
    <div class="d-grid gap-2 mt-4 text-center ">
      <button type="submit" class="btn btn-primary rounded-pill py-2 4 fw-bold w-auto mx-auto">
        <i class="bi bi-plus-circle me-1"></i>Créer
      </button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-3 text-center">
      {{successMessage}}
    </div>
  </form>
</div>
</div>

</div>
